* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 16px;
}

.list {
    display: flex;
    gap: 20px;
}

a:link,
a:visited {
    color: #434455;
    text-decoration: none;
    font-size: 16px;
}

.logo {
    margin-right: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo span {
    color: #2e2f42;
}

.address {
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: #434455;
    font-style: normal;
}

.nav-list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 0.3s;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #404bbf;
}

.card {
    background-color: #2E2F42;
    color: white;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.card-text {
    width: 550px;
    font-size: 56px;
    text-align: center;
}

#orderService {
    background-color: #4D5AE5;
    border-radius: 8px;
    color: white;
    width: 170px;
    height: 56px;
    border-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    font-size: 20px;
    gap: 50px;
    padding: 70px 30px;
}

.component {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 5px;
}

.hello {
    color: #434455;
    font-size: 16px;
    font-weight: 300;
}

.hello-one {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 400;
}

.our-team {
    display: flex;
    flex-direction: column;
    background-color: #F4F4FD;
    justify-content: space-evenly;
    align-items: center;
    height: 732px;
}

.our-team-section {
    display: flex;
    gap: 10vh;
}

.man-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 320px;
    width: 200px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 24px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #2E2F42;
    height: 30vh;
    color: white;
    justify-content: center;
}

.footer-text {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 280px;
    gap: 20px;
}

.logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.footer-text p {
    font-weight: 100;
    line-height: 30px;
}

.web {
    color: #4D5AE5;
    font-weight: 700;
}

.our-portfolio {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}

.our-portfolio h2 {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #333;
}

.first-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
}

.cards {
    flex: 1 1 calc(33.33% - 20px);
    background-color: #fff;
    border: 1px solid #e7e9fc;
    margin-bottom: 50px;
    width: 360px;
    height: 420px;
}

.cards img {
    width: 100%;
    height: auto;
    display: flex;
}

.cards h3 {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: left;
    margin-left: 10px;
    margin-top: 30px;
    font-weight: 500;
}

.cards p {
    font-size: 1rem;
    color: #888;
    text-align: left;
    justify-content: center;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}