/* Logo Stilleri */
nav .logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

nav .logo span {
    color: #2e2f42;
}

/* Liste Stilleri */
nav ul {
    list-style-type: none;
    /* Liste işaretlerini kaldırmak için */
    padding: 0;
    /* Varsayılan dolgu değerlerini kaldırmak için */
}

nav ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    /* Alt çizgiyi kaldırmak için */
}

nav ul li a:hover,
nav ul li a:focus {
    color: #404bbf;
    /* Üzerine gelindiğinde ve odaklandığında renk değişimi */
}

/* Address Stilleri */
address {
    font-style: normal;
}

address ul {
    list-style-type: none;
    /* Liste işaretlerini kaldırmak için */
    padding: 0;
    /* Varsayılan dolgu değerlerini kaldırmak için */
}

address ul li a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    /* Alt çizgiyi kaldırmak için */
}

address ul li a:hover,
address ul li a:focus {
    color: #404bbf;
    /* Üzerine gelindiğinde ve odaklandığında renk değişimi */
}

/* İlk Section Stilleri */
section:first-of-type {
    background-color: #2e2f42;
}

section:first-of-type h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

section:first-of-type button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

section:first-of-type button:hover,
section:first-of-type button:focus {
    background-color: #404BBF;
    /* Üzerine gelindiğinde ve odaklandığında arka plan rengi değişimi */
    cursor: pointer;
    /* Fare imleci stili */
}

/* Diğer Section Stilleri */
section {
    background-color: #f4f4fd;
    /* Diğer section arka plan rengi */
}

section h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

section ul {
    list-style-type: none;
    /* Liste işaretlerini kaldırmak için */
    padding: 0;
    /* Varsayılan dolgu değerlerini kaldırmak için */
}

section ul li {
    background-color: #FFFFFF;
    /* Liste maddeleri arka plan rengi */
}

section ul li h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

section ul li p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}